<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Insights | Chat</title>
    <link rel="stylesheet" href="{% static 'main/assets/css/chat_bot.css' %}">
</head>

<body class="h-screen w-screen flex justify-center items-center flex-col gap-3">
    <nav class="w-screen h-[6vh] flex justify-center items-end gap-1 absolute top-0">
        <h1 class="text-3xl font-bold md:text-4xl">Business Insights Chat Bot</h1>
    </nav>

    <div class="inputBox border-2 p-1 py-2 max-w-[95%] min-w-80 w-[60%] flex justify-evenly rounded-md shadow-lg">
        <a href="{% url 'main:dashboard' %}">
            <button type="button" class="bg-slate-700 text-white px-2 py-1 rounded-md">
                Back To DashBoard
            </button>
        </a>
    </div>

    <script>
        document.body.innerHTML += `
    <div class="chat-container">
        <div class="chat-box" id="chatBox">
            <!-- Messages will be appended here -->
        </div>
        <div class="input-box">
            <input class="message-input" type="text" id="messageInput" placeholder="Type a message" />
            <button type="button" class="send-button" id="message-submit">Send</button>
        </div>
    </div>`;
    </script>

    <script src="{% static 'main/app.js'%}"></script>

</body>

</html>
